body{
    color: #ffffff;
    font-family: arial;
    overflow-x: hidden;
    background-color: #222;
}

div{
    background-color: #dede;
    color: #000;
    padding: 20px;
    border-radius: 10px;
}

h2{
    color: #222;
}