body{
    background-color: #222;
    color: #fff;
    font-family: arial;
    letter-spacing: 1.2px;
}

.input-prueba{
    padding:6px;
    border-radius: 6px;
    border: #222 solid 1px;
    color: #444;
    outline: none !important;
    width: 200px;
}
.seleccionado{
    color: green;}
.seleccionado b {
    color: rgb(1, 255, 1);
}